.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chatHeaderInfo {
  flex: 1;
  padding-left: 20px;
}

.chatHeaderInfo > p {
  color: gray;
}

.chatHeaderRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chatMessage {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 30px;
  background-color: white;
}

.chatReciever {
  margin-right: auto;
  background-color: green;
}

.myMessage {
  margin-left: auto;
  background-color: red;
}



.chatTimestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.hoverContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: -22px;
  background-color: lightgray;
  opacity: 0;

}

.hoverContainer:hover {
  opacity: 0.7;
}

.chatName {
  position: absolute;
  top: -22px;
}

.chatBody {
  flex: 1;
  background-color: lightblue;
  padding: 30px;
  overflow: scroll;
}

.chatFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chatFooter > form {
  flex: 1;
  display: flex;
}

.chatFooter > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chatFooter > form > button {
  display: none;
}

.chatFooter > .MuiSvgIcon-root {
  padding: 1px;
  color: gray;
}
