.modHead {
  background-color: #121212;
}

.modBody {
  background-color: #BB86FC;
}

.editInput {
  background-color: #3700b3;
  color: white;
}

.editForm > button {
  display: none;
}

.editTitle {
  color: white;
}
